<section id="add">  
  <form action="/" method="post">  
    <input name="zip" placeholder="enter zip code"></input>  
    <input type="submit" value="Search Pets">  
  </form>  
</section>  

<% if @pets %>
  <% @pets.each do |num| %>  
  <div class="pet">
    <article>  
      <div class="img">
        <img src="<%= num["media"]["photos"]["photo"][0]["$t"] %>"></img>
      </div>
      <p><span>Name: </span><%= num["name"]["$t"] %></p>  
      <p><span>Type: </span><%= num["animal"]["$t"] %></p>  
      <p><span>Sex: </span><%= num["sex"]["$t"] %></p>
      <p><span>Age: </span><%= num["age"]["$t"] %></p>
      <p><span>Size: </span><%= num["size"]["$t"] %></p>
      <p><span>Address: </span><%= num["contact"]["address1"]["$t"] %>             <%= num["contact"]["address2"]["$t"] %>
                      <%= num["contact"]["city"]["$t"] %>, 
                      <%= num["contact"]["state"]["$t"] %></p>
      <p><span>Phone: </span><%= num["contact"]["phone"]["$t"] %></p>
    </article>
  </div>
  <% end %>  
<% end %>

<!--   @obj["petfinder"]["pets"]["pet"].each do |num| 
    @name     = num["name"]["$t"]
    @animal   = num["animal"]["$t"]
    @sex      = num["sex"]["$t"]
    @age      = num["age"]["$t"]
    @media    = num["media"]["photos"]["photo"][0]["$t"]
    @contact  = num["contact"]["phone"]["$t"]
  end -->