<div class="span12">
  <section id="add">  
    <form action="/" method="post">  
      <input name="zip" placeholder="enter zip code"></input>  
      <input type="submit" value="Search Pets" class="btn btn-primary">
    </form>  
  </section> 
</div> 

<div class="span10">
  <% if @pets %>
    <% @pets.each do |num| %>  
    <div class="pet well">
      <article>  
        <div class="img">
          <img src="<%= num["media"]["photos"]["photo"][0]["$t"] %>" class="img-rounded"></img>
        </div>
        <h4>NAME: &emsp;<span><%= num["name"]["$t"] %></span></h4>  
        <h4>ANIMAL: &emsp;<span><%= num["animal"]["$t"] %></span></h4>  
        <h4>SEX: &emsp;<span><%= num["sex"]["$t"] %></span></h4>
        <h4>AGE: &emsp;<span><%= num["age"]["$t"] %></span></h4>
        <h4>SIZE: &emsp;<span><%= num["size"]["$t"] %></span></h4>
        <h4>ADDRESS: &emsp;
            <span><%= num["contact"]["address1"]["$t"] %>            <%= num["contact"]["address2"]["$t"] %>
              <%= num["contact"]["city"]["$t"] %>, 
              <%= num["contact"]["state"]["$t"] %></span></h4>
        <h4>PHONE: &emsp;<span><%= num["contact"]["phone"]["$t"] %></span></h4>
      </article>
    </div>
    <% end %>  
  <% end %>
</div>

<!--   @obj["petfinder"]["pets"]["pet"].each do |num| 
    @name     = num["name"]["$t"]
    @animal   = num["animal"]["$t"]
    @sex      = num["sex"]["$t"]
    @age      = num["age"]["$t"]
    @media    = num["media"]["photos"]["photo"][0]["$t"]
    @contact  = num["contact"]["phone"]["$t"]
  end -->